@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
body {
    font-family: "mulish", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.sala, .fecha {
    border: 1px solid;
    padding-top: 8px;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;
    margin-top: -11px;
    text-align: center;
    color: white;
}
.btnmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    background-color: #151A32;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    background-color: #151A32;
    color: white;
}

#search {
    background-color: white;
    border-style: none;
    border-radius: 25px;
    height: 25px;
    padding-left: 10px;
    color: black;
}

#search:focus {
    background-color: rgb(58, 76, 131);
}

#btnmenu{
    float:left;
    width:60px ;
    padding: 5px;
    border: 1px solid blue ;
}
.titulo{
    float: left;
    width:auto;
    padding:fit-content;
    margin :0px 25% auto 25%;
}


.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.movie {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 15px;
    padding: 10px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.movie img {
    border-radius: 5px;
    width: 200px;
    height: 250px;
}

.movie button {
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    width: 100px;
    margin: 10px 25% auto 25%;
}

section{
    display: flex;
    column-gap: 30px;
    justify-content: center;
    padding-left: 20px;
    padding-right: 100px;
    align-items: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.sillas {
    flex: 2;
    padding: 2rem;
}

.sillas form > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.sillas form > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(20% - 10px);
    margin-bottom: 20px;
}

.sillas label {
    margin-bottom: 5px;
}

.sillas img {
    width: 35px;
    height: auto;
    margin-bottom: 5px;
}

button {
    display: block;
    width: 20%;
    padding: 10px;
    background-color: #383470;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #151A32;
    color: rgb(180, 180, 180);
}


.search input {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
}

.content {
    display: flex;
    margin: 2rem auto;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ficha-tecnica {
    width: 18%;
    padding: 15px 15px 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 65px;
    margin-left: 20%;
}

.ficha-tecnica img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.ficha-tecnica h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

.ficha-tecnica ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ficha-tecnica li {
    margin-bottom: 10px;
}

.ficha-tecnica a {
    text-decoration: none;
}




#sinopsis{
    width: 40%;
}

.boton{
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    width: 100px;
    margin: 10px 25% auto 25%;
}

.img{
    width: 150px;
    height: 180px;
}
#main{
    background: linear-gradient(to right, gold,blue,gold, white,gold, red, gold);
}
div .dropdown-content{  
    margin-top: 0;
    padding: 10px;
    position: relative;
    background-color: rgb(160, 162, 162);
    list-style:none;
    width: 125px;
    height: 120px;
    border: rgb(29, 28, 28)2px solid;
    line-height:1.5 ;    
    }
.dropdown {
    display: inline-block;
    position:relative ;
}
.dropdown-content {
    display: none;
    position:absolute;
    width: 20%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.dropdown-content a:hover {
    color: #151A32;
    background-color: gold;
}
#btnmenu:hover{
    color: #151A32;
    background-color: gold;
}